<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Manchkin</title>

  <link rel="stylesheet" type="text/css" href="style.css">
  

  <!-- <script type="text/javascript"  src="angular.min.js"></script> -->
  <script src="bower_components/angular/angular.js"></script>
  <!-- <script src="bower_components/angular-draganddrop/angular-draganddrop.js"></script> -->

  <script type="text/javascript" src="index.js"></script>
  <script type="text/javascript" src="components/gameField.js"></script>
  <script type="text/javascript" src="components/ownerPlayer.js"></script>
  <script type="text/javascript" src="components/character.js"></script>
  <script type="text/javascript" src="components/cardsField.js"></script>
  <script type="text/javascript" src="components/otherPlayers.js"></script>
  <script type="text/javascript" src="components/card.js"></script>

  <script type="text/javascript" src="services/api.js"></script>

  
</head>
<body ng-app="Manchkin">

 <!--  <div class="card treasure-face"></div>
  <div class="card door-face"></div>
  <div class="card treasure"></div>
  <div class="card door"></div>

  <div class="card treasure-face race" draggable>
    <p class="name">Эльф</p>
    <p class="first-ability">+1 к Смывке</p>
    <p class="first-ability">Поднимаешься на 1 Уровень за каждого монстра которого помогаешь убить</p>
  </div> -->

  <game-field></game-field>

<!-- inline templates -->
  <script type="text/ng-template" id='gameField.html'>
    <div class="playground"
         droppable
         drop="handleDrop">
    <other-players players="players" handle-action="$ctrl.handleAction(action)"></other-players>
    </div>

    <owner-player owner='$ctrl.owner' handle-action="$ctrl.handleAction(action)"></owner-player>
  </script>

  <script type="text/ng-template" id='ownerPlayer.html'>

      <character char="$ctrl.owner" handle-action="$ctrl.handleActionn(action)"></character>
      <cards-field cards="$ctrl.owner.cards"></cards-field>

  </script>


 <script type="text/ng-template" id='character.html'>

    <div class="character"
         droppable
         drop="handleDrop"
         id="{{$ctrl.char.id}}">
        <div class="avatar"><img src="/home/lmoskvin/Downloads/images.jpg"></div>
        <div class="level">level: {{$ctrl.char.level}}</div>
        <div class="power">power: {{$ctrl.char.power}}</div>
    </div>
 </script>


 <script type="text/ng-template" id='cardsField.html'>
     <card ng-repeat="card in $ctrl.cards" card="card"></card>
 </script>

 <script type="text/ng-template" id='otherPlayers.html'>
     <div class='pl'
          droppable
          drop="handleDrop"
          style="transform-origin: 50% 50%"
          ng-repeat='player in playersPosition'
          ng-style="{ left: player.x, top: player.y, color: player.color }"
          rotate degrees="player.deg"
          id="{{player.id}}"
             ></div>
 </script>



 <script type="text/ng-template" id='card.html'>
     <div class="card treasure-face race" draggable id="{{ $ctrl.card.id }}">
         <p class="name">{{$ctrl.card.id}}</p>
         <p class="name">{{$ctrl.card.name}}</p>
         <p class="first-ability">{{$ctrl.card.first_ability}}</p>
         <p class="first-ability">{{$ctrl.card.second_ability}}</p>
     </div>
 </script>



 <!--    <script type="text/javascript">
      
      var dragSrcEl = null;

      function handleDragStart(e) {
        // this.style.opacity = '0.4';  // this / e.target is the source node.

        dragSrcEl = this;
        console.log(this);

        e.dataTransfer.effectAllowed = 'move';
        e.dataTransfer.setData('text/html', this.innerHTML);
      }

      function handleDragOver(e) {
        if (e.preventDefault) {
          e.preventDefault(); // Necessary. Allows us to drop.
        }

        e.dataTransfer.dropEffect = 'move';  // See the section on the DataTransfer object.

        return false;
      }

      function handleDragEnter(e) {
        // this / e.target is the current hover target.
        if (dragSrcEl != this) {
          this.classList.add('over');
        }
      }

      function handleDragLeave(e) {
        this.classList.remove('over');  // this / e.target is previous target element.
      }


      function handleDrop(e) {
        // this / e.target is current target element.

        if (e.stopPropagation) {
          e.stopPropagation(); // stops the browser from redirecting.
        }

        if (dragSrcEl != this) {
          // Set the source column's HTML to the HTML of the columnwe dropped on.
          dragSrcEl.innerHTML = this.innerHTML;
          this.innerHTML = e.dataTransfer.getData('text/html');
        }

        return false;
      }

      function handleDragEnd(e) {
        // this/e.target is the source node.

        [].forEach.call(cols, function (col) {
          col.classList.remove('over');
        });
      }

      var cols = document.querySelectorAll('#columns .column');
      [].forEach.call(cols, function(col) {
        col.addEventListener('dragstart', handleDragStart, false);
        col.addEventListener('dragenter', handleDragEnter, false);
        col.addEventListener('dragover', handleDragOver, false);
        col.addEventListener('dragleave', handleDragLeave, false);
        col.addEventListener('drop', handleDrop, false);
        col.addEventListener('dragend', handleDragEnd, false);
      });
  </script> -->

</body>
</html>